version: "3.8"

services:
  postgres:
    image: postgres:16-alpine
    container_name: todo-postgres
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - todo-net

  app:
    image: tg/todo-app:1.1
    container_name: todo-app
    depends_on:
      - postgres
    env_file:
      - .env
    ports:
      - "8080:8080"
    networks:
      - todo-net

volumes:
  postgres_data:

networks:
  todo-net:
    driver: bridge
