server:
  port: ${SERVER_PORT:8080}

spring:
  application:
    name: todo-app

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

